body{
	background: white;
}

#fondo{
	background: #661a27;
	width:506px;
	height: 619px;
	margin:0 auto;
	margin-top: 20px;
	padding: 2px 5px;
}

#brown{
background: #3e131a;
	height:100px;
	margin-top: 15px;
}

#middle{
	background: #742336;
	height: 250px;
	margin-top: 30px;
}

#red{
	border: 8px solid #841929;
	background: #9e2035;
	height: 234px;
}

#bottom{
	border: 1px solid #811f2c;
	background: #811f2c;
	height: 155px;
	margin-top: 45px;
}

#white{
	background: #f3f1f2;
	height: 105px;
	margin-top: 25px;
}

#little_white{
	background: #f3f1f2;
	width:355px;
	height: 5px;
	margin-left:60px;
		border-radius: 2px;
	webkit-border-radius: 2px;
	mozila-border-radius: 2px;
}

.width_chico{
	width: 345px;
	margin: 0 auto;
	border-radius: 8px;
	webkit-border-radius: 8px;
	mozila-border-radius: 8px;
}

.width_grande{
	width: 480px;
	margin: 0 auto;
	border-radius: 8px;
	webkit-border-radius: 8px;
	mozila-border-radius: 8px;
}